.blue {
    color: blueviolet;
}

h1 {
    color: rgb(4, 4, 144);
}

h2 {
    color:rgb(108, 181, 227);
}

h3 {
    color:aliceblue;
}

.box {
    height: 250px;
    width: 400px;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
    background-color: gray;
}

p {
    color:white;
}

ul {
    color:white;
}

ol {
    color:white;
}

h1 {
    font-family: 'Georgia', serif;
    font-weight: bold;
    
}

h2 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;

}

h3 {
    font-family: 'Courier New', monospace;
    font-weight: bold;

}

body {
    background-color: rgb(68, 67, 67);
}